body {
    background-color: #d3d3d3;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333333;
}

.container {
    margin: auto;
    padding: 50px;
    background-color: #d3d3d3;
}

.key-container {
    
}

input[type=text] {
    color: #d14;
}