body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input[type="text"] {
  color: #d14;
}

.content {
	margin-top: 5%;
}

.progress-apprentice {
	background-color: #f0a;
}

.progress-guru {
	background-color: #aa38c6;
}

.progress-master {
	background-color: #5571e2;
}

.progress-enlighten {
	background-color: #0af;
}

.progress-burned {
	background-color: #555;
}