<div class="container key-container">
    <div class="vertical">
        <h1>Wani Kani Stats</h1>
        <p> Enter your 32-character WaniKani API key:</p>
        <div class="input-group">
            <input type="text" maxlength="32" id="key" class="form-control" ng-model="$ctrl.userKey" />
            <span class="input-group-btn">
                <input type="button" value="Submit" id="submit" class="btn btn-default" ng-click="$ctrl.getData()" />
            </span>
        </div>
    </div>
</div>