<div>
    <div class="panel panel-primary">
        <div class="panel-heading">Level Stats</div>
        <div class="panel-body">
            <p>Select a level below to learn more about it! Currently all you can view
            is a breakdown of each level's items separated by item type (radical, kanji, vocabulary). Each item is colored according to which SRS group it currently belongs to.
            </p>
            <p><b>Key</b></p>
            <span class="label progress-apprentice">Apprentice</span>
            <span class="label progress-guru">Guru</span>
            <span class="label progress-master">Master</span>
            <span class="label progress-enlighten">Enlighten</span>
            <span class="label progress-burned">Burned</span>
            <span class="label progress-">Locked</span>
        </div>
    </div>
    <div class="form-group">
        <label for="level-select">Select a level</label>
        <select class="form-control" id="level-select" 
            ng-options="item.level as item.level for item in $ctrl.levels track by item.level" 
            ng-model="$ctrl.selectedLevel">
        </select>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Level {{$ctrl.selectedLevel}}
                </h4>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-apprentice" style="width: {{($ctrl.levels[$ctrl.selectedLevel]['apprenticeCount'] / $ctrl.levels[$ctrl.selectedLevel]['totalCount']) * 100}}%">
                        <span class="sr-only">{{($ctrl.levels[$ctrl.selectedLevel]["apprenticeCount"] / $ctrl.levels[$ctrl.selectedLevel]["totalCount"]) * 100}}</span>
                    </div>
                    <div class="progress-bar progress-guru" style="width: {{($ctrl.levels[$ctrl.selectedLevel]['guruCount'] / $ctrl.levels[$ctrl.selectedLevel]['totalCount']) * 100}}%">
                        <span class="sr-only">{{($ctrl.levels[$ctrl.selctedLevel]["guruCount"] / $ctrl.levels[$ctrl.selectedLevel]["totalCount"]) * 100}}</span>
                    </div>
                    <div class="progress-bar progress-master" style="width: {{($ctrl.levels[$ctrl.selectedLevel]['masterCount'] / $ctrl.levels[$ctrl.selectedLevel]['totalCount']) * 100}}%">
                        <span class="sr-only">{{($ctrl.levels[$ctrl.selectedLevel]["masterCount"] / $ctrl.levels[$ctrl.selectedLevel]["totalCount"]) * 100}}</span>
                    </div>
                    <div class="progress-bar progress-enlighten" style="width: {{($ctrl.levels[$ctrl.selectedLevel]['enlightenCount'] / $ctrl.levels[$ctrl.selectedLevel]['totalCount']) * 100}}%">
                        <span class="sr-only">{{($ctrl.levels[$ctrl.selectedLevel]["enlightenCount"] / $ctrl.levels[$ctrl.selectedLevel]["totalCount"]) * 100}}</span>
                    </div>
                    <div class="progress-bar progress-burned" style="width: {{($ctrl.levels[$ctrl.selectedLevel]['burnedCount'] / $ctrl.levels[$ctrl.selectedLevel]['totalCount']) * 100}}%">
                        <span class="sr-only">{{($ctrl.levels[$ctrl.selectedLevel]["burnedCount"] / $ctrl.levels[$ctrl.selectedLevel]["totalCount"]) * 100}}</span>
                    </div>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-radicals" ng-click="$ctrl.showRadicals()">
                            <strong>Radicals</strong>
                            <span class="badge level-badge">{{$ctrl.levels[$ctrl.selectedLevel]["radicalsCount"]}}</span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-kanji" ng-click="$ctrl.showKanji()">
                            <strong>Kanji</strong>
                            <span class="badge level-badge">{{$ctrl.levels[$ctrl.selectedLevel]["kanjiCount"]}}</span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-vocabulary" ng-click="$ctrl.showVocab()">
                            <strong>Vocabulary</strong>
                            <span class="badge level-badge">{{$ctrl.levels[$ctrl.selectedLevel]["vocabularyCount"]}}</span>
                        </button>
                    </div>
                </div>
                <div class="well">
                    <button type="button" class="btn btn-default progress-{{item.user_specific.srs}}" ng-repeat="item in $ctrl.levels[$ctrl.selectedLevel][$ctrl.selectedType]">
                        <div ng-switch on="{{item.hasCharacter}}">
                            <span ng-switch-when="true" class="radical-character">{{item.character}}</span>
                            <span ng-switch-when="false"><img ng-src="{{item.image}}" height="14" width="14" /></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>